
#downloads{
    color: #606060;
}

#downloads h1{
    text-shadow: none; // 2px 2px #b1afaf;
}

#downloads h2{
    margin-bottom: -1.5rem!important;
}

#downloads .version {
    font-size: 0.9rem;
    font-weight: bold;
}

#downloads .download-sub-header h2 {
    font-size: 1rem;
    margin-bottom: 0 !important;
    padding: 10px 0px;
    text-transform: none;
}

#downloads .download-sub-header {
    margin-bottom: 9px;
}

.boxed-content>i {
    font-size: 7em;
    color: #3270a5;
}

.boxed-content p {
    font-size: 0.8em;
    text-transform: none;
    margin-bottom: 0.2rem;
}

.boxed-content .boxed-content-title {
    font-size: 16px;
    font-weight: 700;
}

.boxed-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.boxed-content a, .boxed-content a:hover {
    color: #606060;
}

.bggrey{
    background-color: #F4F4F4;
}

.zip-install {
    font-size: 12px;
    font-weight: bold;
    padding: 20px 0;
}
.img-zip-file {
    max-width: 20px;
    height: auto;
    margin: -4px 4px 0 0;
}
.img-c-plusplus {
    max-height: 112px;
    width: auto;
}
.seperator-b {
    height: 27px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #E6E6E6;
}
.download-artifactory-additional img {
    max-width: 50px;
}
.download-artifactory-additional .download-docker-img img {
    max-width: 65px;
}
#downloads .ce-more-link {
    font-size: 12px;
}
#downloads .download-option {
    font-size: 12px;
}
#downloads .download-debian img {
    max-width: 32px;
}
#downloads .artifactory-tc-link {
    font-size: 12px;
    text-decoration: underline;
}
#downloads .artifactory-tc-link:hover {
    text-decoration: underline !important;
}